.filter-page-container {
    display: flex;
    padding: 20px;
  }
  
  .sidebar-filter {
    width: 250px;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .sidebar-filter h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color:black;
  }
  
  .filter-section {
    margin-bottom: 15px;
  }
  
  .filter-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .filter-section ul {
    list-style: none;
    padding: 0;
  }
  
  .filter-section ul li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .filter-section select,
  .filter-section input[type="range"] {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
  }
  
  .book-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
  }
  
  .custom-book-card {
    background: rgb(179, 177, 177);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: auto;
    margin:1px;
    padding:2px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
  }
  
  .custom-book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .custom-image-container {
    position: relative;
  }
  
  .custom-image-container img {
    width: 100%;
    height: 30px;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top:10px;
  }
  
  .custom-card-content {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .custom-book-title {
    font-size: 12px;
    margin: 5px 0;
    color:black;
  }
  
  .custom-book-author {
    color: rgb(46, 45, 45);
    font-size: 9px;
    /* margin: 5px 0; */
  }
  
  .custom-card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .custom-book-price {
    font-size: 19px;
    font-weight: bold;
    color:#1b1b1b;
  }
  
  .custom-book-rating {
    color: #1b1b1b;
    font-size: 19px;
  }
  
 
  .add-btn {
    margin-top: 5px;
    background-color: #3f0d04;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px; /* Reduce padding for better fit */
    cursor: pointer;
    width: 100%;
    font-size: 14px; /* Reduce font size */
}

.add-btn:hover {
    background-color: #6e372e;
    
}
