.ChooseUs.Parent {
    text-align: center;
    margin: 20px;

  }
  
  h1 {
    font-family: 'Bookman Old Style';
  font-size: 40px; /* Increased font size */
  font-weight: bold; /* Made the text bold */
  color: #821a00; /* Changed color to indigo */
  margin-bottom: 25px; /* Added more space below */
  text-transform: uppercase; /* Uppercased the text */
  letter-spacing: 2px; /* Increased letter spacing */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Added a subtle text shadow */
  }
  
  
  
  .lottie-container {
    flex: 1;
    display: flex;
    justify-content: center;
    /* padding-right: 50px; */
    margin-right: 50px;
    align-items: center;
    margin-bottom: 50px;
    transform: scale(1.2); /* Scales the animation by 1.2 (you can adjust this value as needed) */
    transform-origin:right; /* Ensures scaling starts from the left */
  }
  
  .ChooseUscontent {
    display: flex;
    justify-content: flex-start; /* Aligns the content to the left */
    align-items: center;
    gap: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  
  .bullet-points {
    flex: 1;
    text-align: left;
  }
  
  .bullet-points ul {
    list-style-type: disc;
    /* padding-left: 20px; */
    padding-right: 60px;;
  }
  
  .bullet-points li {
    font-size: 1.5rem;
    margin: 35px 0;
    list-style: None;
    color:rgb(66, 7, 7);
    font-family: 'Bookman Old Style';
  font-weight: bold; /* Made the text bold */
  letter-spacing: 1px; /* Increased letter spacing */
  }
  .bullet-points li span{
    color:brown;
    font-size: 1.3rem;
    font-family:'Times New Roman', Times, serif;
  }
  